@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

:root {
    --font-family: 'Darumadrop One', cursive;
    --cor-bg: #A7727D;
    --cor-primaria: #EDDBC7;
    --cor-seta-botao: rgb(58, 49, 49);
}

body {
    background-color: var(--cor-bg);
    color: var(--cor-primaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

body::-webkit-scrollbar{
    width: 3px;
}
  
body::-webkit-scrollbar-thumb{
    background-color: var(--cor-primaria);
    border-radius: 20px;
}
  
body::-webkit-scrollbar-track{
    background: var(--cor-bg);
}
  

.titulo {
    font-size: 6em;
    margin: 1em;
}

.resposta {
    color: var(--cor-bg);
}

.pergunta {
    font-size: 2.5em;
    margin-top: 1em;
}

.fa-exclamation {
    margin-left: 0.2em;
}

.mensagem {
    font-size: 2em;

}

.box {
    font-size: 3em;

}

.chute__mensagem, .chute__mensagem__invalida {
    margin-top: 1em;

}

.botao {
    margin-top: 2em;
    padding: 15px  25px;
    font-family: var(--font-family);
    font-size: 2.5em;
    background-color: var(--cor-primaria);
    color: var(--cor-seta-botao);
    border: none;
    border-radius: 15px;
    cursor: pointer;

}

.aviso {
margin-top: 15em;

}

.aviso__primeiro {    
    font-size: 1.5em;
}

.aviso__segundo {
    margin-top: 0.3em;
    font-size: 1.2em;
}

.link_github {
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 2.5em;
    color: #EDDBC7;
}

@media (max-width: 667px) {

    .titulo {
        font-size: 4em;
        margin: 0.5em;
    }

    .aviso {
        margin-top: 8em;
        
        }
}